<script async src="https://telegram.org/js/telegram-widget.js" 
  data-telegram-login="AutheerBot" 
  data-size="large"
  data-auth-url="https://auth.lvh.me/callback" 
  data-request-access="write"
  data-lang="ru"
></script>
